@use '../../../styles/mixins' as *;

.aboutComponent {
  width: var(--standard-width);
  max-width: 80rem;
  margin: var(--spacing-800) auto;
  padding: var(--spacing-400);
  border: var(--border-200);
  border-radius: var(--border-radius-4);
  box-shadow: var(--box-shadow-sm);
  background-color: hsl(var(--background-color-2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);

  & h3 {
    text-align: center;
  }
}
