@use '../../../../styles/mixins' as *;

.adminRecentPosts {
  margin: var(--spacing-200) 0;

  &__title {
    text-transform: capitalize;
  }

  &__infoContainer {
    border: var(--border-100);
  }

  &__postTitle {
    margin: var(--spacing-100) var(--spacing-200);
    border: var(--border-100);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-xsm);
    background-color: hsl(var(--background-color-3));
    text-transform: capitalize;

    td {
      padding: var(--spacing-100) var(--spacing-200);
      overflow: hidden;
    }
  }
  &__statusDraft {
    text-align: center;
    margin: 0;
    border: var(--border-100);
    background-color: hsl(var(--background-color-2));
    border-radius: var(--border-radius-8);
  }

  &__statusPublished {
    text-align: center;
    margin: 0;
    border: var(--border-100);
    background-color: hsl(var(--background-color-3));
    border-radius: var(--border-radius-8);
  }

  &__btn {
    margin: 0 var(--spacing-100);
    padding: var(--spacing-100);
  }
}
