@use '../../../../../styles/mixins' as *;

.postTags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-400);
    align-self: flex-end;

    @include breakpoint(tab) {
        grid-area: date;
    }

    &__tag {
        margin: 0 var(--spacing-400);
        padding: var(--spacing-300);
        border: var(--border-100);
        border-radius: var(--border-radius-pill);
        box-shadow: var(--box-shadow-xsm);
        background-color: hsl(var(--background-color-3));
        text-transform: capitalize;
        font-size: var(--fs-500);
        font-weight: var(--fw-500);
    }
}