@use '../../../../../styles/mixins' as *;

.postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--border-100);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-xsm);

    @include breakpoint(tab) {
        grid-area: image;
    }
}