:root {
    --box-shadow-md: 0.5rem 0.5rem 0 hsl(var(--neutral-color));
    --box-shadow-sm: 0.25rem 0.25rem 0 hsl(var(--neutral-color));
    --box-shadow-xsm: 0.125rem 0.125rem 0 hsl(var(--neutral-color));
}