@use './breakpoints' as *;

@mixin postComponent {
    width: var(--standard-width);
    margin: var(--spacing-800) auto;

    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--spacing-400);

        & li {
            width: 100%;
            padding: var(--spacing-400);
            border: var(--border-200);
            border-radius: var(--border-radius-4);
            box-shadow: var(--box-shadow-sm);
            background-color: hsl(var(--background-color-2));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-200);

            @include breakpoint(tab) {
                width: 40%;
            }

            @include breakpoint(laptop) {
                width: 40%;
            }
        }
    }
}