@use '../../../../../styles/mixins' as *;

.postContent {
    max-width: 48.75rem;
    margin: 0 auto;
    padding: var(--spacing-200);
    border: var(--border-100);
    border-radius: var(--border-radius-6);
    box-shadow: var(--box-shadow-xsm);
    background-color: hsl(var(--background-color-3));
    line-height: 1.7;
}