@use '../../../../../styles/mixins' as *;

.readMoreBtn {
    display: inline-block;
    // margin-top: var(--spacing-400);
    padding: var(--spacing-200);
    border: var(--border-100);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-xsm);
    background-color: hsl(var(--background-color-3));
    transition: var(--transition-main);
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    text-transform: capitalize;
    line-height: 1.5;
    
    @include breakpoint(tab) {
        grid-area: readMore;
    }
    
    &:hover, &:focus {
        background-color: hsl(var(--primary-color));
        color: hsl(var(--background-color-3));
        box-shadow: var(--box-shadow-md);
        
        & span {
            color: hsl(var(--background-color-3));
        }
    }
    
    & span {
        transition: var(--transition-main);
        color: hsl(var(--primary-color));
    }
}