@use '../../../../styles/mixins' as *;

.postContainer {
     width: var(--standard-width);
    max-width: 72rem;
    margin: var(--spacing-800) auto;
    padding: var(--spacing-400);
    border: var(--border-300);
    background-color: hsl(var(--background-color-2));
    border-radius: var(--border-radius-4);
    box-shadow: var(--box-shadow-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-400);

    @include breakpoint(tab) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2.1fr 0.5fr 0.3fr 1.1fr; 
        grid-template-areas: 
        'image image'
        'title content'
        'readMore content'
        'date content';
        align-items: center;
        justify-content: center;
    }
}